<div class="content-wrapper index-wrapper">

  <h2>Active Projects</h2>
  <div class="content">
    <ul class="articles">
    <% if @active_projects.count > 0 %>
      <% @active_projects.each do |project| %>
        <li>
          <%= link_to project.title, project_path(project.slug), class: "underlined" %> 
          <span class="proj-desc-sep">—</span>
          <span class="proj-desc"><%= project.description %></span>
        </li>
      <% end %>
    <% else %>
      <p>I don't currently have any active projects. Yay for me! Also 😞</p>
    <% end %>
    </ul>
    <p class="more">Checkout more of my projects <%= link_to "here", projects_path, class: "underlined" %>.</p>
  </div>

  <h2>Currently Reading</h2>
  <div class="content">
    <ul class="articles">
    <% currently_reading.each do |obj| %>
      <li>
        <%= link_to obj['book']['title'], obj['book']['link'], class: "underlined", target: "_blank" %> 
        <time class="code"><%= obj['book']['publication_year'] %></time>
      </li>
    <% end %>
    </ul>
    <p class="more">Read more of my articles <%= link_to "here", articles_path, class: "underlined" %>.</p>
  </div>

  <h2>Latest Writings</h2>
  <div class="content">
    <ul class="articles">
    <% @latest_articles.each do |article| %>
      <li>
        <%= link_to article.title, article_path(article.slug), class: "underlined" %> 
        <time class="code"><%= article.published_at.strftime('%B %e, %Y') %></time>
      </li>
    <% end %>
    </ul>
    <p class="more">Read more of my articles <%= link_to "here", articles_path, class: "underlined" %>.</p>
  </div>

  <h2>Speaking</h2>
  <div class="content">
    <ul class="articles">
      <li>
        <%= link_to "Offline First React Native", "https://speakerdeck.com/twhitacre/offline-first-react-native", class: "underlined", target: "_blank" %> 
        <time class="code">October 18, 2019</time>
      </li>    
      <li>
        <%= link_to "Intro to Elm", "https://speakerdeck.com/twhitacre/intro-to-elm", class: "underlined", target: "_blank" %> 
        <time class="code">June 16, 2017</time>
      </li>
      <li>
        <%= link_to "Angular Crash Course", "https://speakerdeck.com/twhitacre/angular-crash-course", class: "underlined", target: "_blank" %> 
        <time class="code">April 16, 2016</time>
      </li>
    </ul>
    <p class="more">
      <a target="_blank" href="https://twitter.com/intent/tweet?screen_name=timwco" class="twitter-mention-button" data-show-count="true" data-size="large" data-related="timwco">Ping me on Twitter</a> if you'd like me to speak at your event.
    </p>

  </div>  

</div>