<div class="content-wrapper">
  <h1>Wishlist</h1>
  <div class="content">
    <p>This is mostly for family & friends, but here is a list of items I'd love to own.</p>
    <div class="inner-area">

      <% if @wishlist_games.count > 0 %>
      <h3>Games</h3>
      <ul class="articles">
        <% @wishlist_games.each do |item| %>
          <li>
            <%= link_to item.name, item.url, class: "underlined" %> 
            <time class="code"><%= item.price %></time>
          </li>
        <% end %>
      </ul> 
      <% end %>     

      <% if @wishlist_kitchen.count > 0 %>
      <h3>Kitchen</h3>
      <ul class="articles">
        <% @wishlist_kitchen.each do |item| %>
          <li>
            <%= link_to item.name, item.url, class: "underlined" %> 
            <time class="code"><%= item.price %></time>
          </li>
        <% end %>
      </ul>
      <% end %>

      <% if @wishlist_tech.count > 0 %>
      <h3>Tech</h3>
      <ul class="articles">
        <% @wishlist_tech.each do |item| %>
          <li>
            <%= link_to item.name, item.url, class: "underlined" %> 
            <time class="code"><%= item.price %></time>
          </li>
        <% end %>
      </ul>
      <% end %>

      <% if @wishlist_tech.count > 0 %>
      <h3>Music</h3>
      <ul class="articles">
        <% @wishlist_music.each do |item| %>
          <li>
            <%= link_to item.name, item.url, class: "underlined" %> 
            <time class="code"><%= item.price %></time>
          </li>
        <% end %>
      </ul>
      <% end %>

      <% if @wishlist_books.count > 0 %>
      <h3>Books</h3>
      <ul class="articles">
        <% @wishlist_books.each do |item| %>
          <li>
            <%= link_to item.name, item.url, class: "underlined" %> 
            <time class="code"><%= item.price %></time>
          </li>
        <% end %>
      </ul>
      <% end %>

      <% if @wishlist_lego.count > 0 %>
      <h3>Legos</h3>
      <ul class="articles">
        <% @wishlist_lego.each do |item| %>
          <li>
            <%= link_to item.name, item.url, class: "underlined" %> 
            <time class="code"><%= item.price %></time>
          </li>
        <% end %>
      </ul>
      <% end %>

      <% if @wishlist_sports.count > 0 %>
      <h3>Sports</h3>
      <ul class="articles">
        <% @wishlist_sports.each do |item| %>
          <li>
            <%= link_to item.name, item.url, class: "underlined" %> 
            <time class="code"><%= item.price %></time>
          </li>
        <% end %>
      </ul>
      <% end %>

      <% if @wishlist_misc.count > 0 %>
      <h3>Misc</h3>
      <ul class="articles">
        <% @wishlist_misc.each do |item| %>
          <li>
            <%= link_to item.name, item.url, class: "underlined" %> 
            <time class="code"><%= item.price %></time>
          </li>
        <% end %>
      </ul>
      <% end %>
    
    </div>
  </div>
</div>