<div class="content-wrapper">
  <h1>Projects</h1>
  <div class="content">
    <p>Over the years, I've created and helped launch a handful (<b><%= @projects.count %></b> to be exact) of projects. Some see the light of day, some only exist for a short while and some are successful. Here are their stories.</p>
    <div class="responsive-table">
      <table>
        <thead>
          <tr>
            <th style="text-align:left">Title</th>
            <th style="text-align:left" class="mobile-hide">Description</th>
            <th style="text-align:left">Started</th>
            <th style="text-align:left">Status</th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td style="text-align:left" class="project-index-title">
                <%= link_to project.title, project_path(project.slug), class: "underlined" %>
              </td>
              <td style="text-align:left" class="mobile-hide"><%= project.description %></td>
              <td style="text-align:left">
                <time class="code"><%= project.started %></time>
              </td>
              <td style="text-align:left">
                <span class="tag purple"><%= project.status.humanize %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>